{
    "commute": {
        "origin": "<some address or geo coordinates>",
        "destination": "<some address or geo coordinates>",
        "apiKey": "<for Google Maps - see https://developers.google.com/maps/documentation/directions/get-api-key>"
    },
    "weather": {
        "location": ""
    },
    "simulation": false,
    "activeHoursStart": <hour of day to after which libra should display something (i.e. not all night)>,
    "activeHoursEnd": <hour of day after which libra should stop display something (i.e. while you are at work)>
}